@model Dish

@{
    ViewData["Title"] = "Detail";
}

<div class="rsvpform">
<h1>Dish Details</h1>
<hr />
@Model.TMName is bringing a/an @Model.Category.<br />
@Model.DishName - @Model.DishDescription<br />
</div>